<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/solo.css">
    <link rel="canonical" href="{{ site.ull }}" />
  </head>
  <body>
    <article>
      <div class="container">
        <!-- TODO: <div><a href="">куда я попал?</a></div> -->
        <small>{{ site.description }}</small>
        <h1>{{ site.title }}</h1>
        <h2>{{ page.date }}</h2>
        <pre>{{ content }}</pre>
        <div class="right">
          <small>
            {% if page.title %}
            «{{ page.title }}»
            <br>
            {% endif %}
            {{ page.author }}
          </small>
          <!-- TODO: copy link -->
          <!-- TODO: prev/next day -->
        </div>
      </div>
    </article>
  </body>
</html>
